<div class="page-container">
  <div class="center-container">
    <div class="container">
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">

          <div *ngIf="successMessage" class="alert alert-success">
            {{ successMessage }}
          </div>
          
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-group">
              <label for="registerName">Name:</label>
              <input type="text" id="registerName" formControlName="name" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && registerForm.get('name')?.errors?.['required'] }"
                     required>
              <div *ngIf="submitted && registerForm.get('name')?.errors?.['required']" class="invalid-feedback">
                Name is required.
              </div>
            </div>
            <div class="form-group">
              <label for="registerEmail">Email:</label>
              <input type="email" id="registerEmail" formControlName="email" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && registerForm.get('email')?.errors?.['required'] }"
                     required>
              <div *ngIf="submitted && registerForm.get('email')?.errors?.['required']" class="invalid-feedback">
                Email is required.
              </div>
            </div>
            <div class="form-group">
              <label for="registerPassword">Password:</label>
              <input type="password" id="registerPassword" formControlName="password" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && registerForm.get('password')?.errors?.['required'] }"
                     required>
              <div *ngIf="submitted && registerForm.get('password')?.errors?.['required']" class="invalid-feedback">
                Password is required.
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && registerForm.get('confirmPassword')?.errors?.['required'] }"
                     required>
              <div *ngIf="submitted && registerForm.get('confirmPassword')?.errors?.['required']" class="invalid-feedback">
                Confirm Password is required.
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
      <p class="text-center mt-3">
        Already have an account? <a href="/login">Login here</a>
      </p>
    </div>
  </div>
</div>
