<div class="container mt-4" *ngIf="product">
  <div class="row">
    <div class="col-md-6">
      <img [src]="product.image_url" class="img-fluid product-image" alt="Product Image">
    </div>
    <div class="col-md-6">
      <h2 class="product-name">{{ product.name }}</h2>
      <p><strong>Price:</strong> ${{ product.price?.toFixed(2) }} / kg</p>
      <p>
        <strong>Status:</strong>
        <span [ngClass]="{'text-success': product.in_stock, 'text-danger': !product.in_stock}">
          {{ product.in_stock ? 'In Stock' : 'Out of Stock' }}
        </span>
      </p>
      <div class="product-description">
        <h4>Description:</h4>
        <p><strong>Category:</strong> {{ product.category }}</p>
        <p><strong>Quantity Available:</strong> {{ product.quantity_available }}</p>
        <p>{{ product.description }}</p>
      </div>
      
      <div *ngIf="!product.in_stock">
        <p class="text-danger">This product is currently out of stock.</p>
      </div>
      <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
      
      <a routerLink="/products" class="btn btn-secondary">Back to Products</a>
    </div>
  </div>
</div>
